<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Town of Books</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/town of book.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="css/style.css">
  <style>
    * {
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */


    }

    a {
      color: rgb(242, 240, 240);
    }

    nav .active {
      background-color: #4CAF50;
    }


    /* #loader {

background: #000 url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif") no-repeat center center;
background-size: 7%;
height: 150%;
width: 100%;
position: fixed;
margin-left: -50px;
z-index: 100;

} */

    #loader {
      background: #000;
      /* Change background color */
      height: 100vh;
      /* Adjust height */
      width: 100vw;
      /* Adjust width */
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }


    .loader-img {
      width: 100px;
      /* Adjust loader size */
      height: 100px;
      /* Adjust loader size */
      background: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif") no-repeat center center;
      background-size: cover;


      @media(max-width:800px) {
        width: 50px;
        height: 50px;
      }


    }

    /* Customize animation if needed */
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .loader-img {
      animation: spin 1s linear infinite;
      /* Modify animation properties */
    }
  </style>
  <!-- CSS only -->


</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TownBooks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bookrentt">Book Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appendbook">Add Book</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <% if (typeof data !=='undefined' ) { %>
            <a class="nav-link" href="/image">
              <%= data.user.name %>
            </a>
            <% } else if (typeof user !=='undefined' ) { %>
              <a class="nav-link" href="/image">
                <%= user.name %>
              </a>
              <% } else { %>
                <a href="/login">Register/login</a>
                <% } %>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>

    </div>
  </nav>


  <!-- <div id="loader" ></div>
  -->
  <div id="loader">
    <div class="loader-img"></div>
  </div>