@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');

body {
  font-family: "poppins", "sans-serif", "fantasy";  
  /* margin: auto 3%; */
  background-color: rgb(11, 8, 8);
  
 
}

h1{

    color: whitesmoke;
    /* font-family: 'poppins', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 500;
    font: 30px;

}

.homepage{
  
  overflow: hidden;
}
.newst{

font-family: poppins;
margin-left: -2rem;
margin-top:12rem ;
font-size: 40px;
font-weight: 1200;
color: chartreuse;

@media (max-width:800px) {
  font-size: 2.5vh;
  margin-top:20%;
  margin-left: 1rem;
  
}

}


.newst1{


font-family: fantasy;
text-align: center;
margin-top: -2rem ;
font-size: 200px;
font-weight: 1200;
color: rgba(255, 255, 255, 0.863);

@media (max-width:800px) {
  font-size: 13vh;
  margin-top: -1rem ;
}


}

.carouselImg{
 object-fit:contain;
 
 padding: 10% 5%;

 @media (max-width:800px) {
  height: 50vh;
  width: 50vh;
}
}

.threeImg{
  height: 90vh;
  /* padding: 10% 0; */
}

.block{
    margin-left: -5rem;
}
/* 
.sizee{
    margin-top: 5rem;
    height: 100vh;




} */
.heading{
padding: 0 6% 0 6%;
height: 100%;
width: 100%;

}

.buttons{
  display: flex;
  
  justify-content: center;
  align-items: center;
 

}

.stpara{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #e2d4d4;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-left: 2rem;
    margin-top: 3rem;

} */
.style{
    box-shadow: rgba(34, 14, 14, 0.45) 0px 25px 20px -20px;
    background-color: rgb(14, 13, 11);
    text-align: center;

}
.cnn{

text-align: center;
margin-left: 3rem;
margin-right: 3rem;
margin-top: -2rem;
font-size: 25px;
color: rgba(255, 255, 255, 0.604);

@media (max-width:800px) {
  font-size: 2vh;
}



}

.cnnn{

    text-align: center;
    margin-left: rem;
    margin-right: 3rem;
    margin-top: rem;
    font-size: 20px;
    color: rgb(240, 240, 240);
    
    }

.heightss {
    margin-top: -5.1rem;
    
    
    
    }

.heightsss {
    margin-top: 8rem;
    
    
    
    }

.perfect{

margin-left: 10rem;
margin-top: 3rem;

@media (max-width:800px) {
  font-size: 2vh;
  margin-left: 0rem;
margin-top: 2rem;
}




}
.Rent{

    text-align: right;
    margin-right: 3.4rem;
    font-size: 80px;
    font-weight: 900;
    font-family:fantasy;
    color: yellowgreen;


}


.Rentt{
    margin-left: 3.4rem;
    margin-top: rem;
    font-size: 80px;
    font-weight: 900;
    font-family:fantasy;
    color: yellowgreen;
}

.Renttxt{

margin-left: 23rem;



}

.Renttxtt{
    margin-left: 14rem;
    margin-right: rem;
    margin-top: 4rem;
    
    
    
    }
#main-nav {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

nav a.active {
  color: #1e1e1e;
  background: white;
  border-radius: 15%;
}

nav a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
}

section#header {
  background: rgb(0, 0, 0);
  /* background: linear-gradient(164deg, rgba(123,134,232,1) 0%, rgba(246,140,255,1) 52%, rgba(255,222,50,1) 100%);
  color: #270942; */
  background-image: profil;
  border-radius: 1%;
}

section#tim-vine {
  background: rgb(123,211,232);
  background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(123,211,232,1) 0%, rgba(50,171,255,1) 100%);
  color: #0f2852;
}

section#bill-hicks {
  background: rgb(123,211,232);
  background: linear-gradient(135deg, rgba(123,211,232,1) 0%, rgba(232,123,165,1) 0%, rgba(255,50,50,1) 100%);
  color: #40081a;
}

section#stewart-francis {
  background-color: #85FFBD;
  background-image: linear-gradient(70deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
  color: #084012;
}
 
.saka{
 text-align: left;
 position: relative;
 color: whitesmoke;
}

 



article {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}



.divview{

height: 500px;


}

.lastb{

 width: 100%;
margin-left: 39rem;
text-align: center;






}