<%- include('../layouts/header1.ejs') %>

<br /><br /><br /><br /><br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="inam" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px; margin: auto">
                    <img src="Images/1.png" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">Must Read BOOKS</h4>
                      <!-- <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>  -->
                      <a href="/view"
                        ><button type="button" class="btn btn-warning">
                          Explore
                        </button></a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px">
                    <img src="Images/2.png" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">Must Read BOOKS</h4>
                      <!-- <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p> -->
                      <a href="/view"
                        ><button type="button" class="btn btn-warning">
                          Explore
                        </button></a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px">
                    <img src="Images/3.png" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">Must Read BOOKS</h4>
                      <!-- <p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p> -->
                      <button type="button" class="btn btn-warning">
                        Explore
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px; margin: auto">
                    <img src="Images/harry potterr.png" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">What's in this book?</h4>
                      <p class="card-text">
                        Harry Potter is a series of seven fantasy novels written
                        by British author <strong>J. K. Rowling</strong>. story
                        book
                      </p>
                      <a href="/view"
                        ><button type="button" class="btn btn-warning">
                          Read More
                        </button></a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px">
                    <img src="Images/pop3.webp" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">What's in this Book ?</h4>
                      <p class="card-text">
                        The Mountain is You by Brianna Wiest focuses on the
                        block between you and the life you want to live.Amazing
                        Book
                      </p>
                      <button type="button" class="btn btn-warning">
                        Read More
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <div class="card" style="width: 300px">
                    <img src="Images/pop2.jpeg" class="card-img-top" />
                    <div class="card-body">
                      <h4 class="card-title">Why you should make habbits ?</h4>
                      <p class="card-text">
                        Atomic Habits is an amazing book! it's all about how to
                        create habbits,how to be consistence
                      </p>
                      <button type="button" class="btn btn-warning">
                        Read More
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#inam" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#inam" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br />

<%- include('footer'); -%>
