
<br><br><br><br>
<div style="display: flex; flex-direction: row; gap: 2; padding: 10%;">
<form action="/forget" method="POST" style="text-align: left;" >
    <label for="email">Enter your email</label><br>
    <input type="email" required placeholder="email" name="email"><br>
    <input type="submit" placeholder="submit">
</form>
</div>