<form action="/resetpassword" method="POST">

    <label for="password">New password</label><br>
    <input type="password" name="password" placeholder="password" required> <br>

    <label for="cpassword">Confirm Email</label><br>
    <input type="password" name="cpassword" required placeholder="confirm password"><br>
    <input type="submit" placeholder="change password"> <br>

</form>