<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verify</title>
  </head>
  <body>
    <div>
      <div><h2>verify</h2></div>
    </div>
    <br />
    <div>
      <div><p>congratulation !! your email is verified</p></div> <br>
    </div>
    <div>
        <p>Go to <a href="/home"> home </a> </p>
    </div>
  </body>
</html>
