<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>verify</title>

	<style>
		#loader {

			background: #000 url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif") no-repeat center;
      background-size:10%;
      height:100%;
			width: 100%;
			position: fixed;
			z-index: 100;

		}
	</style>


</head>

<body>
	<div id="loader" name="loader"></div>
	<div>
		<div>
			<h2>verify</h2>
		</div>
	</div>
	<br />
	<div>
		<div>
			<p>congratulation !! your email is verified</p>
		</div> <br>
    </div>
		<div>
			<p>Go to <a href="/home"> home </a> </p>
		</div>


<script>
	let s = document.getElementById("loader");
   window.addEventListener("load",()=>{

    s.style.display = "none";

})
</script>
</body>

</html>