<%- include('../layouts/header1.ejs') %>

<br><br><br><br><br><br>
<div style="height: 800px;" >

    <div class="divview row" >

     
        <div class="col-5" >
        
            <img  style="width: 100%;height: 60%;margin-top: 5rem;align-content: center; " src="Images/lords_of_the_rings-removebg-preview.png" alt="">
        
        </div>


        <div class="col-7" >
             
            <table style="margin-top: 6rem;width: 100%; " >
                <tr> 
                    <td style="color: rgba(245, 245, 245, 0.741);" >BookName:</td>
                    <td><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: -40rem;color: rgb(217, 255, 0);" >The Hobbit</h1></td>
                </tr>
        <tr>
            
            <td style="color: rgba(245, 245, 245, 0.741);" >Author:</td>
            <td><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: -40rem;color: rgba(217, 255, 0);" >J.R.R. TOLKIEN</h1></td>
  
        </tr>
        
        <tr>
            < <td style="color: rgba(245, 245, 245, 0.741);" >Owner:</td>
            <td><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: -40rem;color: rgba(217, 255, 0);" >Anonymous</h1></td>
     </tr>
        
        <tr>
            <td style="color: rgba(245, 245, 245, 0.741);" >Price:</td>
            <td><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: -40rem;color: rgba(217, 255, 0);" > 0.7$/week</h1></td>
          </tr>
        
        <tr>
            <td style="color: rgba(245, 245, 245, 0.741);" >Location:</td>
            <td><h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: -40rem;color: rgb(217, 255, 0);" > JALANDHAR</h1></td>
         </tr>
        
            </table>
        
        </div>
        
        
        
          </div>

<div class="row" style="margin-top:-4rem ;" >

    <div class="btn-group btn-group-toggle lastb " data-toggle="buttons">
        
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Rent a Book
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Contribute a Book
        </label>
      </div>

<center>
    <br><br><br>

<p style="margin-left: 3rem; color: rgb(97, 124, 124);">The Hobbit, fantasy novel by J.R.R. Tolkien, published in 1937. The novel introduced Tolkien’s richly imagined world of Middle Earth in its Third Age and served as a prologue to his The Lord of the Rings.</p>
<p style="margin-left: 3rem; color: rgb(97, 124, 124);">The unwilling hero of The Hobbit, Bilbo Baggins, is persuaded to join Thorin and his 12 dwarfs to recover their stolen treasure, which is being guarded by the dragon Smaug. During the expedition, Bilbo finds a magical ring that renders the wearer invisible, which figures prominently in The Lord of the Rings.</p>

</center>


</div>

</div>
   






</div>




<br><br><br><br><br><br>

<%- include('footer'); -%>







